/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: "KumbhSans-Regular";
  src: url("./assets/fonts/KumbhSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --font: "KumbhSans-Regular", sans-serif;
  --rain-background: #74aede;
  --snow-background: white;
  --sun-background: #ddecf9;
  --storm-background: #342564;
  --cloud-background: #acc2d9;
  --wind-background: #aabac6;
  --night-background: linear-gradient(180deg, #2c3e50, #1a2a3a, #000000);
  --primary-color: #2f1f5f;

  --secondary-color: #555;
  --button-bg: #ffea00;
  --button-hover: #fce706;
}

body {
  display: grid;
  grid-template-columns: 1fr 3fr;
  min-height: 100vh;
  font-family: var(--font);
  background-color: #f5f5f7;
  color: #333;
}
.aside-header {
  display: flex;
  align-items: center;
  background: rgb(255, 231, 93);
  border: 1px solid #d5d9db;
  border-radius: 100px;
}

.aside-header button {
  display: flex;
  background: rgb(255, 231, 93);
  border: none;
  border-radius: 100px;
  cursor: pointer;
}
.aside-display {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
  padding: 30px;
  gap: 10px;
}

.search-input {
  font-size: 16px;
  line-height: 1.5;
  background: #ffffff;
  border: none;
  border-radius: 100px 0px 0px 100px;
  width: 100%;
  padding: 0.3em 1em 0.3em 2.5em;
}

.search-input::placeholder {
  color: #838d99;
}

.search-input:focus {
  outline: none;
  background-color: white;
  border: 1px solid #102a37;
}

.aside-main {
  display: grid;
  grid-template-rows: 0.94fr auto;
}

.city-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.city-name {
  font-size: 2rem;
  font-weight: bold;
  overflow: hidden;
  word-wrap: break-word;
}

.animated-cloud {
  width: 85%;
  max-width: 500px;
  height: auto;
  margin: 0 auto;
  animation: floatCloud 3s ease-in-out infinite;
  filter: drop-shadow(-1px 1px 25px rgba(255, 255, 255, 0.644));
}

@keyframes floatCloud {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.aside-main-description {
  display: flex;
  flex-direction: column;
}
.main-temp {
  font-size: 5rem;
  font-weight: bold;
}

#date {
  font-size: 1.2rem;
}
#description {
  font-size: 1.2rem;
  word-break: inherit;
  text-align: left;
}

/* Main Content */
.main-content {
  padding: 20px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 20px;
}

/* Forecast Section */
.forecast-section {
  display: grid;
  gap: 20px;
}

.forecast-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  gap: 10px;
  font-size: 1.5rem;
}

.nav-item {
  color: #8e8e8e;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.unit-buttons button {
  background: white;
  border: none;
  padding: 10px 15px;
  border-radius: 50%;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: all 0.3s ease;
}

.unit-buttons button:hover {
  background-color: #ffd19a;
  box-shadow: -1px 6px 10px 0 rgba(120, 60, 20, 0.2);
  color: white;
}

.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.forecast-list {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  margin: 0px 2em;
  padding: 10px;
}

.forecast-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  flex: 0 0 auto;
  width: 100px;
  background-color: white;
  border: 1px solid #dddddd;
  border-radius: 15px;
  text-align: center;
  padding: 10px;
}
.forecast-card img {
  width: 55%;
}

.current-forecast-card {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(106, 114, 130, 0.39);
  color: white;
  border: none;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  border-radius: 6px;
  font-size: 18px;
  z-index: 10;
  transition: background-color 0.2s;
}

.slider-btn.left-btn {
  left: 10px;
}

.slider-btn.right-btn {
  right: 10px;
}

.slider-btn:hover {
  background-color: rgba(106, 114, 130, 0.6);
}

.forecast-list::-webkit-scrollbar {
  display: none;
}

.forecast-active {
  cursor: pointer;
  color: black;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
  transition: color 0.3s ease, text-decoration 0.3s ease;
  .slider-container {
    display: none;
  }
}

.forecast-active:hover {
  color: #555;
}

.wk-forecast-temp {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

/* highlight */

.today-hightlight {
  margin-top: 20px;
}

.today-hightlight h3 {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.highlight-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.highlight-card {
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  background-color: white;
  border-radius: 15px;
  border: 1px solid #dddddd;
}

.highlight-card p {
  margin-bottom: 5px;
  font-size: 1.2rem;
}

@media (max-width: 800px) {
  body {
    grid-template-columns: 1fr;
  }

  .highlight-list {
    grid-template-columns: repeat(2, 1fr);
  }

  #forecast-list {
    grid-template-columns: repeat(3, 1fr);
  }
  .main-temp,
  .city-name {
    font-size: 2rem;
    font-weight: bold;
  }

  #description {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  #forecast-list,
  .highlight-list {
    grid-template-columns: 1fr;
  }
}

/* snow */
.snow-day {
  background-color: #e3f2fd;
}
.snow-night {
  background-color: #cfd8dc;
}

/* Thunderstorm */
.thunder-day {
  background-color: #7185b7;
}
.thunder-night {
  background-color: #2c3b6a;
  color: white;
}

/* Rain */
.rain-day {
  background-color: #d1d6ea;
}
.rain-night {
  background-color: #7179a1;
  color: white;
}

/* Fog */
.fog-day {
  background-color: #f5f5f5;
}
.fog-night {
  background-color: #e0e0e0;
}

/* Wind */
.wind-day {
  background-color: #b2dfdb;
}
.wind-night {
  background-color: #80cbc4;
}

/* Cloudy */
.cloudy-day {
  background-color: #bed9ec;
}
.cloudy-night {
  background-color: #5b7da9;
  color: white;
}

/* Clear */
.clear-day {
  background-color: #ffecb3;
}
.clear-night {
  background-color: #687bb2;
  color: white;
}
